---
// @ts-nocheck
import sanityClient from "../sanity/sanity.client";
import "../styles/reset.scss";
import "../styles/global.scss";

type Props = {
	title?: string;
	description?: string;
};

const {title, description} = Astro.props; // you can pass props to this layout in this way

const siteDocument = await sanityClient.fetch(`*[_type == "site"][0] {
	...,
	siteIcon {
		asset->
	},
}`);

const logoSvgText = await fetch(siteDocument.siteIcon.asset.url).then((response) => response.text());
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{title}</title>
		<meta name="author" content="Page Author" />
		<meta name="description" content={description || siteDocument.siteTitle || "fgddfg"} />
		<meta name="keywords" content="Page Keywords" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
		<link rel="canonical" href={Astro.url.href} />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<a href="/">
				<div class="siteLogo">
					<Fragment set:html={logoSvgText.replaceAll("class=", "data-class=").replaceAll("id=", "data-id=")} />
				</div>
			</a>
			<nav>
				<a href="/artists">Artists</a>
				<a href="/artworks">Artworks</a>
				<a href="/exhibitions">Exhibitions</a>
				<a href="/articles">Articles</a>
				<a href="/join-sur">Join Sur</a>
				<input type="search" id="site-search" name="search" class="searchInput"/>
				<button class="searchButton">Search</button>
			</nav>
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<h2 class="title">Join Sur</h2>
			<div class="titleBox">
				<p class="titleText">Become a Sur Artist.</p>
			</div>
			<form>
				<input type="text" id="fname" name="fname" class="formField"><br>
				<label for="fname" class="formLabel">First name:</label><br>

				<input type="text" id="lname" name="lname" class="formField"><br>
				<label for="lname" class="formLabel">Last name:</label><br>

				<input type="text" id="country" name="country" class="formField"><br>
				<label for="country" class="formLabel">Country:</label><br>



				<input type="checkbox" id="medium1" name="medium1" value="painting">
				<label for="medium1" class="formLabel"> Painting</label>

				<input type="checkbox" id="medium2" name="medium2" value="photography">
				<label for="medium2" class="formLabel"> Photography</label>

				<input type="checkbox" id="medium3" name="medium3" value="sculpture">
				<label for="medium3" class="formLabel"> Sculpture</label>

				<input type="submit" value="submit" class="clickHere">
			</form>
			<div class="linksBar">
				<p class="terms">Terms of Use Sur 2024</p>
				<div class="links">
					<a href="url"><img src="/instagram.png"></a>
					<a href="url"><img src="/linkedin.png"></a>
					<a href="url"><img src="/twitter.png"></a>
				</div>
			</div>
		</footer>
	</body>
</html>

<style lang="scss">

@use "../styles/mixins.scss";

	:root {
		--lanes: 6rem;
		--gap-small: 1rem;
        --gap-medium: 2rem;
		--gap-large: 3rem;

		--columns: 3;

		--white: #eee;
		--gray: #dcd2cd;
		--black: #4d4848;

		--petrol: #92544c;
		--lavender: #dfd6ea;
		--yellow: #ebd539;

		@media (max-width: 1024px) {
			--lanes: 2rem;
		}
		@media (max-width: 768px) {
            --columns: 2;
        }
        @media (max-width: 512px) {
			--lanes: 0px;
            --columns: 1;
        }
	}
	
	main {
		display: grid;
		grid-template-columns: var(--gap-small) var(--lanes) 1fr var(--lanes) var(--gap-small);
		& > :global(*) {
			grid-column: 3;
		}
		& > :global(.breakout) {
			grid-column: 2/5;
		}
	}

	.siteLogo {
		height: 1.5rem;
		:global(svg) {
			display: block;
			height: 100%;
			width: auto;
		}
	}

	header {
		position:sticky;
		top: 0;
		z-index: 10;
		background: var(--white);
		transition: background-color 0.15s ease-in, color 0.15s ease-in;
		border-bottom: solid 1px var(--black);
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--petrol);
				color: white;
				border-bottom: solid 1px var(--white);
				input {
					background: var(--petrol);
					border: 1px solid var(--white);
				}
				button {
					background: var(--petrol);
					border: 1px solid var(--white);
				}
			}
		}	
		display:flex;
		align-items: center;
		gap: var(--gap-x);
		padding-inline: calc(var(--gap-small) + var(--lanes));
		padding-block: .7rem;
	}

	nav {
		margin-left: auto;
		display:flex;
		gap: var(--gap-small);
		a {
			// @include mixins.label; this did not work
			text-transform: uppercase;
			font-size: .7rem;
		}
		align-items: center;
	}

	.searchInput {
		height: 30px;
		background: var(--white);
		border: 1px solid var(--black);
	}
	.searchButton {
		height: 30px;
		background: var(--white);
		border: 1px solid var(--black);
		@include mixins.label;
		padding-block: 5px;
		padding-inline: var(--gap-small);
	}
	footer {
		display:flex;
		flex-wrap: wrap;
		gap: var(--gap-medium);
		padding-inline: calc(var(--gap-small) + var(--lanes));
		padding-top: var(--gap-large);

		border-top: #4d4848 solid 1px;

		@media (max-width: 768px) {
			flex-direction: column;
		}
	}

	form {
		flex: 1;
		// width: 50%;
		display: flex;
		flex-direction: column;
	}

	.formField {
		border-bottom: 1px solid black;
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
		background-color: var(--white);
	}

	.formLabel {
		@include mixins.label;
	}

	.clickHere {
		border: 1px solid black;
		padding: var(--gap-small);
		margin-top: var(--gap-small);
		@include mixins.label;
		text-align: center;
	}

	.titleBox {
		// @include mixins.fullWidth;
		flex: 1;
		// width: 50%;
       	@media (max-width: 512px) {
			text-align: center;
   		}

	}

	.title {
		@include mixins.primaryHeading;
		width: 100%;
		// margin-bottom: var(--gap-large);

	}

	.titleText {
		@include mixins.largeBodyText;
	}

	.linksBar {
		width: 100%;
		display: flex;
		padding-block: var(--gap-small);
	}

	.links {
		margin-left:auto;
		display: flex;
		img {
			height: 20px;
			margin-left: 20px;
		}		
	}
</style>